name: Upload Build to S3

on:
  workflow_call:
    inputs:
      s3_folder:
        required: true
        type: string

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload Build.loader.js with metadata
        run: |
          aws s3 cp Build/Build.loader.js \
            s3://unity.build-dev/${{ inputs.s3_folder }}/Build/Build.loader.js \
            --content-type "application/javascript"

      - name: Upload Build.framework.js.unityweb with metadata
        run: |
          aws s3 cp Build/Build.framework.js.unityweb \
            s3://unity.build-dev/${{ inputs.s3_folder }}/Build/Build.framework.js.unityweb \
            --content-type "application/javascript" \
            --content-encoding br

      - name: Upload Build.data.unityweb with metadata
        run: |
          aws s3 cp Build/Build.data.unityweb \
            s3://unity.build-dev/${{ inputs.s3_folder }}/Build/Build.data.unityweb \
            --content-type "application/octet-stream" \
            --content-encoding br

      - name: Upload Build.wasm.unityweb with metadata
        run: |
          aws s3 cp Build/Build.wasm.unityweb \
            s3://unity.build-dev/${{ inputs.s3_folder }}/Build/Build.wasm.unityweb \
            --content-type "application/wasm" \
            --content-encoding br

      - name: Upload index.html
        run: |
          aws s3 cp index.html \
            s3://unity.build-dev/${{ inputs.s3_folder }}/index.html \
            --content-type "text/html"
